*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smothing: grayscale;
}

:root{
    font-size: 62.5%;
    
    --base-bg-white: white;
    --base-bg-input: rgba(255, 255, 255, 0.20);
    --base-bg-light: #387E96;
    --base-bg-dark: #065E7C;
    --base-txt-title: #202024;
    --base-txt-p: #121214;
}

:root, input{
    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;
    color: var(--base-txt-p);
    background-color: var(--base-bg-white);
}

.bg-radio{
    border-radius: 999rem;
}


header{
    display: flex;
    align-items: center;
    
    padding: 1.2rem 2.8rem;
    gap: 2.55rem;

    margin: 0 auto;
    background-color: var(--base-bg-dark);
}

.logo{
    background-color: var(--base-bg-white);
    padding: .8rem;
}

.logo:hover{
    background-color: hsl(300, %, 90%);
}

.input-wrapper{
    width: 100%;
}

.input-wrapper label{
    width: 1;
    height: 1;
    opacity: 0;
    position: absolute;
}

.input-wrapper input{
    border: none;
    border-radius: .4rem;
    background-color: var(--base-bg-light);
    
    width: 100%;
    padding: 1.2rem 1.4rem;

    font-size: 1.6rem;
    font-weight: 600;
    color: var(--base-bg-white);

    
}

.input-wrapper input::placeholder{
    color: var(--base-bg-white);
    opacity: .9;
}

header img{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 999rem;
}

main{
    width: 43rem;
    margin-inline: auto;
}

.article section, .related{
    padding: 0rem 2.2rem;
}

.article h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}

.like-area{
    margin: .8rem 0 3rem;
}

.like-area button{
    padding: 1.2rem;
    border: 0;
    background-color: var(--base-bg-dark);
    overflow: hidden;
}

.like-area button:hover{
    background-color: hsl(300, 91%, 25%);
    cursor: pointer;
}

.like-area button img{
    width: 1.6rem;
    height: 1.6rem;
    display: block;
}

.article p{
    width: 38.2rem;
    font-size: 1.6rem;
    line-height: 160%; /* 25.6px */
}

.article p + p{
    margin-top: 2.6rem;
}

.related h1{
    margin: 3.4rem 0 3.2rem;
}

.item{
    display: flex;
    align-items: center;

    margin-bottom: 3.2rem;
}

.item img{
    width: 15rem;
    height: 8.4rem;
}

.item img:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(150%);
    transform: scale(1.1) rotate(-2deg);
}


#article_cover:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(150%);
    transform: scale(.6) rotate(-2deg);
}

.details:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(150%);
    transform: scale(1.1) rotate(2deg);
}

.details{
    padding-left: 1.6rem;
}

.details h2{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}

.details p{
    font-size: 1.4rem;
    line-height: 160%; /* 22.4px */
}

footer{
    padding: 1.6rem;
    background-color: var(--base-bg-light);
    text-align: center;

}

footer p{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--base-bg-white);
}

.item,
#article_cover{
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }

    50%{
        transform: scale(1.2);
    }
}

@media(max-width: 900px){
   
}

@media (min-width: 900px){

    main{
        width: 100%;
    }

    main .container {
        display: flex;
        gap: 3.4rem;       
        justify-content: center;
    }

    #article_cover{
        width: 100%;
    }

    section > div{
        margin-top: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section > div h1{
        display: block;
    }

    section > div .like-area{
        display: block;
    }

    .article{
        margin-top: 4.4rem;
    }

    .article p{
        width: 80rem;
    }

    .related{
        width: 38.4rem;
    }

    footer{
        margin-top: 4rem;
    }

}